h1{
    text-align: center;
}
img{
    padding: auto;
    margin: auto;
    display: block;
    width: 25%;
}
.container{
    padding-left: 550px;
}
.error-output{
    margin-left: 10px;
    font-size: 10px;
    font-style: italic;
    color: red;
}
